:root {
  container-type: normal;

  --rounded-ui: on;

  --roundness: 36px;
  --roundness-lg: calc(var(--roundness) / 1.5);
  --roundness-md: calc(var(--roundness) / 4.5);
  --roundness-sm: calc(var(--roundness) / 9);

  --font-weight-normal: 400;
  --font-weight-bold: 600;
  letter-spacing: -0.009rem;

  --transition-speed: 0.25s;
  --transition-delay: 0.5s;
  --transition-easing: ease-in-out;

  --max-bio-lines: 3;
}
